.container {
  margin-right: 20%;
}

#fortune {
  font-size: x-small;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;
}

.dark-mode button {
  background-color: #fff;
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #eeeeee;
  color: #111111;
}

.dark-mode {
  background-color: #111111;
  color: #eeeeee;
}

.dark-mode a {
  color: orange;
}

.dark-mode a:visited {
  color: yellow;
}

@media (max-width: 600px) {
  .container {
    margin: auto;
  }
}
